#root {
  max-width: 1280px;
  margin: 0 auto;
}

.Navigation {
  padding: 2rem;
}

.Navigation__Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Navigation__Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-style: oblique;
  font-size: 30px;
  color: #54BBB7;
}

.Navigation__Links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}


.Navigation__Item__Text {
  font-size: 16px;
  padding: 10px;
  color: black;
  opacity: 70%;
}

.Navigation__Item__Text:hover {
  font-size: 16.5px;
  padding: 10px;
  color: #54BBB7;
  opacity: 100%;
}

.Hero__Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 8rem;
}

.Heading {
  font-size: 40px;
  color: #54BBB7;
  padding: 1rem 0;
}

.Description {
  font-size: 18px;
  color: black;
  opacity: 70%;
}

.Hero__Image {
  display: block;
  align-items: center;
  text-align: center; 
  padding-top: 8rem;
}

.Hero__Image__Selector {
  border-radius: 10px;
  width: 50rem;
  height: auto;
}

.Features__Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.Features__Cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 8rem;
  gap: 2rem;
}

.featuresCard {
  display: flex;
  align-items: flex-start;
  background-color: #54BBB7;
  padding: 20px;
  width: 250px;
  height: 100px;
  border-radius: 5px;
}

.featuresCard__Wrapper {
  align-items: center;
}

.featuresCard__Heading {
  color: whitesmoke;
  font-size: medium;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.featuresCard__Divider {
  background-color: whitesmoke;
  opacity: 60%;
  width: auto;
  height: 2px;
}

.featuresCard__Description {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: whitesmoke;
  opacity: 75%;
  font-size: small;
}

.Intergrations {
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.Intergrations__Wrapper__Left {
  justify-content: left;
  align-items: center;
  padding-right: 6rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.Intergrations__Cards {
  padding-top: 4rem;
}

.Intergrations__Card {
  padding: 1.8rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.Intergrations__Cards__Icons {
  color: #54BBB7;
  padding-right: 1rem;
}

.Intergrations__Wrapper__Right {
  justify-content: right;
}

.Intergrations__Image__Selector {
  border-radius: 10px;
  width: auto;
  height: 40rem;
}

.Testemonials__Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 14rem;
}

.Testemonials__Cards {
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.TestemonialsCard {
  padding: 1rem;
  width: 350px;
  height: auto;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.241) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.TestemonialsCard__Box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Box__Top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.Box__Top__Left {
  align-items: flex-start;
}

.TestemonialsCard__Image__Selector {
  text-align: center;
  border-radius: 8px;
}

.Box__Top__Right {
  align-items: flex-end;
  text-align: left;
}

.Testemonial__Name {
  font-size: 16px;
  padding-bottom: 4px;
  font-weight: bold;
  color: black;
  opacity: 70%;
}

.Testemonial__Bio {
  font-size: 12px;
  color: black;
  opacity: 60%;
}

.Box__Bottom {
  text-align: left;
}

.Testemonial__Comm {
  font-size: 16px;
  font-weight: bolder;
  color: black;
  opacity: 80%;
}

.Pricing {

}

.Pricing__Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 10rem;
}

.Pricing__Cards {
  display:flex;
  flex-direction: row;
  gap: 20%;
}